$font_color: #616161;

$light_color_main: #ffffff;

$light_color_primary: #f7f7f7;

$light_color_stats: #fefefe;

$dark_color_main: #3f4049;

$dark_color_primary: #262732;

$application_color_1: #38c695;

$application_color_2: #b27cf5;

$application_color_3: #feb960;

$application_color_4: #fc5f45;

$text_color_header: #525252;

$hover-color: #020202;

